.section5 {
  width: 1440px;
  height: 806px;
  top: 156px;
  display: flex;
  position: relative;
  h1 {
    position: absolute;
    // margin-left: 650px;
    // width: 425px;
    // height: 36px;
  }
  img {
    margin-left: 100px;
  }
  .inform {
    margin-top: 260px;
    margin-left: 100px;

    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #fa4a0c;
    }
    h2 {
      width: 561px;
      height: 114px;
      line-height: 80px;
      font-size: 40px;
      color: #252b42;
    }
    p {
      font-weight: 500;
      font-size: 24px;
      width: 467px;
      height: 76px;
      color: #737373;
    }
  }
}
